// Variables de colores
$primary-color: #FCDCBB;
$secondary-color: #121212;
$tertiary-color: #1c1c1c;
$light-color: #fff;
$dark-color: #000;

// Variables de tamaños
$font-size-h2: 2.5rem;
$font-size-h3: 1.5rem;
$font-size-base: 1rem;
$padding-base: 10px 20px;
$margin-section: 60px;

// Definición de variables
$primary-color: #FCDCBB;
$background-color: #121212;
